<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>all</title>
</head>
<style>
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
    th, td {
        padding: 5px;
        text-align: center;
    }
</style>
<body>
<h2 style="color:darkslateblue">Все Пользователи</h2>

<table>
    <tr>
        <th>Id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>E-mail</th>
        <th>Пароль</th>
        <th>Статус</th>
        <th colspan="2">Действия</th>
    </tr>
    <tr th:each="user, state :${all}">
        <td th:text = "${user.id}">Id</td>
        <td th:text = "${user.name}">Name</td>
        <td th:text = "${user.surname}">Lastname</td>
        <td th:text = "${user.age}">Age</td>
        <td th:text = "${user.email}">E-mail</td>
        <td th:text = "${user.password}">Password</td>
        <td th:text = "${user.roles}">Role</td>

        <td><button><a th:href="@{/admin/{id}/edit(id=${user.id})}">Изменить</a></button></td>
        <td><button><a th:href="@{/admin/{id}/delete(id=${user.id})}">Удалить</a></button></td>

    </tr>
    <tr>
        <td colspan="9"><button><a href="/admin/add">Добавить</a></button></td>
    </tr>
</table>
<br>
<div>
    <form action="/logout" method="post">
        <input type="submit" value="Выйти">
    </form>
</div>
</body>
</html>